{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Random Books</title>
</head>
<body>
    <section class="main">
        <h1>Random Books in our Library App</h1>
    </section>
    <section class="books">
        <div class="container">
            <ul class="grid-list">
                <!-- add dynamic html of books -->
                {% for book in allBooks%}
                    <li>
                        <div class="book">
                            <h2 class="bookName">{{book.name}}</h2>
                            <p class="bookDescription">Genre: {{book.description}}</p>
                            <p class="bookCount">Count: {{book.count}}</p>
                            <div class="bookAuthors">
                            <p>Authors:</p>
                            {% if book.authors.all %}
                                {% for author in book.authors.all %}
                                    <p>{{author.name}} {{author.surname}}</p>
                                {% endfor %}
                            {% else %}
                                <p> No authors </p>
                            {% endif %}
                            </div>
                            <button>
                                <a href="http://localhost:8000/order/" target="_blank" rel="noopener noreferrer">Make an Order</a>
                            </button>
                        </div>
                    </li>
                {% endfor %} 
            </ul>
        </div>
    </section>
</body>
</html>